body {
    display: grid;
    grid: 'header'
        'main'
        'main'
        'main'
        'main'
        'main'
        'main'
        'main'
        'main'
        'main'
        'main'
        'main'
        'footer';
    margin: 0;
}
body header {
    grid-area: header;
}