/* Barra de navegación */
.navbartitle {
    font-family: 'Merriweather', serif;
    color: white;
    font-weight: bolder;
    font-size: 30px;
}

nav {
    font-size: 18px;
}

/* Imganen principal de la página */
/* el numeral se usa para hacer referencia al id */
#imagen__inicio {
    position: relative;
}

.carousel-item img{
    height: 41rem;
    object-fit: cover;
    filter: brightness(110%);
}

.carousel_subt{
    font-size: 10rem;
    text-shadow: 0.2rem 0.2rem #212529;
}

.frase{
    font-size: 1.8rem;
    text-shadow: 0.1rem 0.1rem #212529;
}
.tprincipal {
    font-family: 'Merriweather', serif;
    color: white;
    font-weight: bolder;
    position: absolute;
    text-align: center;
    bottom: 40px;
    right: 25vw;
    font-size: 60px;
    text-shadow: 0.1rem 0.1rem #212529;
}

.imgprin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    width: 50%;
    border-radius: 5%;
}

/* Texto gris en negrilla de la página de inicio */
.text__gris__negrilla {
    font-family: 'Source Sans Pro', sans-serif;
    color: #738b8a;
    font-size: 30px;
    left: 100px;
    margin: 60px;
    padding: 5rem;
    text-align: center;
}

.parrafo-gris {
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Source Sans Pro', sans-serif;
    color: $color-textos;
    font-size: 18px;
    padding: 2rem 8rem;
}


/* Primer bloque inicio (imagen y texto) */
.caja {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    display: flex;
    color: #ffffff;
}

.caja p {
    padding: 3em 0.5em;
}
p{
    margin: revert;
}

.bglight {
    background: #babd8f;
    
    
}

/* Segundo bloque inicio (imagen y texto) */
.bgdark {
    background: #212529;
}

.Img__2 {
    left: 0;
    border-radius: 5%;
    height: 32  0px;
}

.caja img {
    max-width: 400px;
    border-radius: 5%
}

.caja.caja__inverse {
    flex-direction: row-reverse;
}
/* Subtitulos y párrafos */
.h2,
h3 {
    text-align: center;
}

.subtitle {
    font-family: 'Merriweather', serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 70px;
    color: $color-subtitulos;
    text-align: center;
    margin-top: 2rem;
}

.all{
    background-color: #ffffff;
}
body  {
    background-image: url("https://images.unsplash.com/photo-1489278353717-f64c6ee8a4d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&q=100");
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
  }